{
  "root": true,
  "plugins": ["react"],
  "extends": ["plugin:react/recommended"],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "react/display-name": 0
  }
}
